body
{
  background-image: url(https://egilhansen.com/assets/photo.jpg);

}
.container{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img{
  height: 300px;
  width: 300px;

}
